---
import Layout from "./Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Bienvenidos a mi proyecto">
    <main>
        <span class="font-myfont">Hello World</span>
        <div class="text-red-500">Cruel</div>
        <div class=" [h-1200px]">
            Texto largo con scroll
        </div>
    </main>

</Layout>

    